.card {
    flex-grow: 1; 
    margin: 0.5%; 
    padding: 0;
    text-align: center; 
    max-width: calc(33.3333% - 10%);
    background-color: #e0e0e0;
    border: 2px solid white;
    box-shadow: 10px 10px 20px #bebebe,
                -10px -10px 20px #ffffff;
    border-radius: 30px;
    transition: 0.5s;
}

.card:hover {
    border: 2px solid black;
    /* move it up a bit on y axis */
    transform: translateY(-5px);
}
  
.card:active {
    transform: scale(0.98) rotateZ(0.8deg);
}

.card .header {
    background-color: #fdd835; /* Yellow background */
    padding: 16px;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    white-space: wrap;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; 
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;  
    height: 15%;
    color: #141414;
   
}


.card h1 {
    font-size: 18px; 
    margin: 0;
}

.card .content {
    padding: 16px;
    
}

.dark-mode .card .content , .dark-mode .card .content h6, .dark-mode .card .schedule-section{
    background-color: grey; /* Dark background for dark mode */
    color: #ffffff; /* Light text color for dark mode */
}

.dark-mode .card .content{
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
}

/* Adjust box shadow and border to the card for dark mode */
.dark-mode .card {
    box-shadow: 10px 10px 20px rgb(60, 60, 60),
             -10px -10px 20px rgb(25, 25, 25);
    border: 2px solid black;
}

/* Adjust dark mode hover border color */
.dark-mode .card:hover {
    border: 2px solid white;
}

.card .content p {
    margin: 4px 0;
}


.schedule-section {
    padding: 16px;
    text-align: center;
    background-color: #e0e0e0;
    color: #141414;
}

.button-section {
    padding: 16px;
    text-align: center;
    
}

.button-section {
    display: flex;
    justify-content: space-between; /* Distribute space equally around items */
    padding: 10px; /* Add padding around the button section */
}

.button-section .MuiButton-root {
    flex: 1; 
    margin: 0 5px; 
    cursor: pointer;
    border-radius: 4px;
    text-transform: none;
}

h6{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #141414;
}

.favorite-section
{
    text-align: 'center';
}