.card {
    flex-grow: 1; 
    margin: 0.5%; 
    padding: 0;
    text-align: center; 
    max-width: calc(33.3333% - 10%);
    /* border: 1px solid #746969;  */
    border-radius: 8px; 
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.card .header {
    background-color: #fdd835; /* Yellow background */
    padding: 16px;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    white-space: wrap;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; 
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;  
    height: 15%;
    color: #000000;
   
}


.card h1 {
    font-size: 18px; 
    margin: 0;
}

.card .content {
    padding: 16px;
    
}

.dark-mode .card .content {
    background-color: #5e5e5e; /* Dark background for dark mode */
    color: #ffffff; /* Light text color for dark mode */
}

.card .content p {
    margin: 4px 0;
}


.schedule-section {
    padding: 16px;
    text-align: center;
    color: #000000;
  }

.button-section {
    padding: 16px;
    text-align: center;
    
}

.button-section {
    display: flex;
    justify-content: space-between; /* Distribute space equally around items */
    padding: 10px; /* Add padding around the button section */
}

.button-section .MuiButton-root {
    flex: 1; 
    margin: 0 5px; 
    cursor: pointer;
    border-radius: 4px;
    text-transform: none;
}

h6{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.favorite-section
{
    text-align: 'center';
}