.app{
  display: flex;
  align-items: center;
  flex-direction: column; 
  background-color: rgb(150, 198, 240);
  background-size: cover;
  background-position: center;
}

.app h1 {
  display: block; 
  font-size: 2em;
  margin-bottom: 0;
  
}

.app h3 {
  display: block;
  font-size: 1.17em;
}

.app hr {
  border: 0; 
  height: 2px;
  background-color: #333; 
  width: 80%; 
  margin-bottom: 2%;
}


.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 1%; 
}
